
* {margin:0; padding:0;}
a {text-decoration:none; color: #000;}
ol,ul,li { list-style: none;}
h1,h2,h3,h4 { font-weight: normal; font-size: 100%;}
body {background:rgb(230,232,235)}
.content {
	background: #fff;
	margin: 10px;
	padding: 30px;
	float:left;

}
.content_left {
	float:left;
	width: 20%;
}
.c_l_top {
	height: 50px; 
	line-height: 50px; 
	text-align:center; 
	border-radius: 5px 5px 0 0;
	color:#fff;
	font-size: 18px;
	background-color: rgb(255,133,0);
}

.c_l_bootom ul li {
	padding:18px;
	cursor: pointer;
	background-color: rgb(230,232,235);
	text-align: center;
}
.lihover {background-color:rgb(204,204,204) !important;}
.add_admin {
	color: rgb(255,132,5);
}
.add_admin:hover {color:rgb(255,132,5);}

.content_right{
	float: left;
	width: 78%;
	margin-left: 20px;
}
.c_r_top {
	border-bottom: 2px solid rgb(255,132,5); 
	text-align: center;
	height: 50px; 
	line-height: 50px;
	margin-bottom: 20px;
	font-size: 18px;
}
.c_r_middle {
	padding: 10px 20px;
	font-size: 14px;
	color: rgb(255,124,53);
	background-color: rgb(255,230,217);
}
.text_content div {text-indent: 2em;}
.c_r_bottom {
	width:100%;
	float: left;
	margin-top:20px;
	border: 1px solid rgb(195,195,195);
}
.c_r_b_left {
	float:left;
	width: 70%;
	border-right: 1px solid rgb(195,195,195);
}
.c_r_b_l_top {
	color: #fff;
	height: 50px;
	line-height: 50px;
	padding-left: 20px;
	background-color: rgb(250,189,124);
}
.c_r_b_l_bottom {float:left;}
.c_r_b_l_bottom label {
	cursor: pointer;
}
.bg_color1 {
	width: 100%;
	float: left;
	padding:20px;
	background-color: rgb(238,242,248);
}
.bg_color2 {
	width:100%;
	float:left;
	padding:20px;
	background-color: #fff;
}
.label_1 {margin: 10px 20px; display: block; float:left; width:130px;}
.label_1 input {
	margin-right: 5px;
}
.no_margin {margin:0;}
.checkbox_inline {
	float:left;
	margin-left: 30px;
	margin-top: 10px;
}
.btnn {
	width: 60px;
	height: 30px;
	margin: 20px 266px;
	color: #fff;
	background-color: rgb(255,124,53);
	border-color: rgb(255,124,53);
}

.c_r_b_right {
	float: left;
	width: 29.8%;
}
.c_r_b_r_bottom{
	padding: 20px;
}
.c_r_b_r_bottom div {
	margin:10px 0;
}
.c_r_b_r_bottom input {margin-right: 10px;}


input[type="checkbox"] {
  -webkit-appearance: none;
  background: #fff url(../images/checkbox.png);
  background: none\0;
  *background: none;
  height: 22px;
  vertical-align: middle;
  width: 22px;
  margin: 0 10px 0 0;
}
input[type="checkbox"]:focus,
input[type="checkbox"]:hover {
  background-position: -24px 0;
  outline: none;
}

input[type="checkbox"]:checked {
  background-position: -48px 0;
}

input[type="checkbox"][disabled] {
  background-position: -72px 0;
}

input[type="checkbox"][disabled]:checked {
  background-position: -96px 0;
}

input[type="radio"] {
  -webkit-appearance: none;
  background: #fff url(../images/checkbox.png);
  background: none\0;
  *background: none;
  height: 22px;
  vertical-align: middle;
  width: 22px;
  margin: 0 10px 0 0;
}
input[type="radio"]:focus,
input[type="radio"]:hover {
  background-position: -24px 0;
  outline: none;
}

input[type="radio"]:checked {
  background-position: -48px 0;
}

input[type="radio"][disabled] {
  background-position: -72px 0;
}

input[type="radio"][disabled]:checked {
  background-position: -96px 0;
}























